* { font-family: "RijksoverheidSansText"; }

.fa { /* larger icons */
  font-size: 17px;
}

.form-group { /* normal margins around selectize in table */
  margin-bottom: 0px;
}

.shiny-input-container>div>select:not(.selectized) {
  width: auto;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  width: auto;
/*  max-width: 100%;*/
}

select, option { /*right align values displayed in select*/
  text-align:right;   
}

.load-container { /*put spinner in center of image*/
  width: 500px !important;
}

/*.img {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

