/* Whole document: */
body{
  font-family: RijksoverheidSansText;
  text-align: justify;
  /*font-size: 16pt;*/
}
/* Headers */
h1{
  font-size: 30px;
  color: #CD0469;
  margin-top: 44px;
}
h1, #TOC>ul>li {
  color: #CD0469;
}
h2{
  font-size: 26px;
  color: #0071BA;
}
h3{
  font-size: 20px;
  color: #0071BA;
}
h4{
  font-size: 14px;
  color: #5E6C84;
}
table.fig {
  table-layout: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  border-spacing: 0;
  border-bottom: none;
  border-top: none;
}
table.fig th {
  padding: 3px 10px;
  background-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
table.fig td {
  width: 50%;
  padding: 3px 30px;
  border-top: 3px;
  border-left: 3px;
  border-bottom: 3px;
  border-right: 3px;
}
.blank_row
{
    height: 10px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
}
table.param td {
  padding: 3px 3px;
  width: 10%;
}

blockquote{
  padding: .75em .5em .75em 1em;
  background: #CCEEFB;
  border-left: 0.5em solid #DDD;
}
blockquote::before {
  display: block;
  height: 0;
  content: "“";
  margin-left: -.95em;
  font: italic 400%/1 Open Serif,Georgia,"Times New Roman", serif;
  color: #999;
}

/* for nested paragraphs in block quotes */
blockquote p {
  display: inline;
}






















